.fond{

  display: flex;  
  font-family: Tahoma, Sans-Serif;
  flex-flow: row wrap;  
  text-align:left;
}

.header{
  background: deepPink;
  order: 1;
  width: 100%;
  
  text-align: center;
  font-size:2em;
}

.corp{  
  
  display: flex;  
  flex-direction:row;  
  text-align: center;
  order: 2;
 
}
.box{
  background-color : #ff0000;
   order: 3;
 }

.box:hover{
  background-color : #00ff00;
}
