.fond{

  display: flex;  
  font-family: Tahoma, Sans-Serif;
  flex-flow: row wrap;  
  text-align:left;
}

.header{
  background: deepPink;
  order: 1;
  width: 100%;
  text-align: center;
  font-size:2em;
}

.corp{  
  
  display: flex;  
  flex-direction:row;  
  text-align: center;
  order: 2;
  background: lightpink;
   width: 100%;
 
}
.form{  
  
  display: flex;  
  flex-direction:row;  
  text-align: center;
  order: 2;
  background: lightpink;
   width: 100%;
 
}
.image{  
  
  display: flex;  
  flex-direction:row;  
  text-align: center;
  order: 2;
  background: lightpink;
   width: 100%;
 
}
