.fond {

  display: flex;  
  font-family: Tahoma, Sans-Serif;
  flex-flow: row wrap;  
  text-align: center;
}
.bandeau{
  max-width:100%;
  height:4em;
  order : 1;
  width: 100%;
}

.header {
  background: deepPink;
  order: 2;
  width: 100%;
  
  border: 0.3em black double;
  text-align: center;
  font-size:2em;
}

.corp{  
  
  display: flex;  
  flex-direction:row;  
  text-align: center;
  order: 3;
 
}

.nav2{  
  border: 0.1em black solid;
  display: flex;  
  flex-direction : column;   
  text-align: left;  
  order: 1;
  width:  19%;
}

.nav {
  background: MistyRose;
  order: 1;
  width:  100%;
}

.image{
  order:2; 
  width:  100%;
  align-self : flex-end;
}
.sections {
  border: 0.1em black solid;
  text-align: left;
  background: GreenYellow;
  order: 2;
  width:  62%;
  height: 520px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.aside2{  
  border: 0.1em black solid;
  display: flex;   
  flex-direction : column;  
  order: 3; 
  width:  19%;
  height: 520px;
  
}

.aside {
  background: tomato;
  order: 1;
  text-align: left;
  width:  100%;
  height: 90%;
}

.footer {
  background: DarkOrchid;
  order: 2;
  text-align: centre;
  width:  100%;
  height: 10%;
}






